.login-register-backgroundImage {
  background-image: url("/src/assets/homebg.png");
  background-size:cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(155, 16, 224, 0.2);
}

.login-register-heading {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bolder;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: black solid 0.2px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(170, 218, 207);
}

.login-register-input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid grey 1px;
}

.login-register-submit-button {
  margin-top: 10px;
  background-color: rgb(47, 119, 103);
  border: solid rgb(3, 79, 57) 1px;
  border-radius: 5px;
  width: fit-content;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  align-self: center;
  color: White;
}

.spanContent {
  color: rgb(4, 108, 61);
}
.spanContent:hover {
  cursor: pointer;
}
